.add-category-error {
  color: #ca3c3c;
  font-style: italic; }

.button-success {
  background: #1cb841; }

.pure-button-primary {
  border-bottom: 0.3rem solid #005eb4;
  font-weight: 500; }

.header {
  background-color: #313131;
  margin-bottom: 2rem; }

.header__title {
  color: white;
  font-size: 3.2rem;
  margin: 0; }

.main__header {
  display: flex;
  justify-content: space-between; }

.table {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  text-align: center; }

.pure-table td, .pure-table th {
  font-size: 2rem; }
